[submodule "frontend"]
	path = frontend
	url = https://github.com/felipe-sant/example-user-auth-front.git
[submodule "backend"]
	path = backend
	url = https://github.com/felipe-sant/example-user-auth-back.git
